<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Index</title>
</head>

<body>
    <form action="/process" method="POST">
        <label for="yourname">Your name:</label>
        <input type="text" id="urname" name="yourname">
        <label for="location">Dojo Location:</label>
        <select name="location">
            <option value="Dallas">Dallas</option>
            <option value="Chicago">Chicago</option>
            <option value="Seattle">Seattle</option>
            <option value="Silicon Valley">Silicon Valley</option>
        </select>
        <label for="language">Favorite Language:</label>
        <select name="language">
            <option value="Python">Python</option>
            <option value="Javascript">Javascript</option>
            <option value="Elvish">Elvish</option>
            <option value="Zulu">Zulu</option>
        </select>
        <label for="comment">Comments (optional):</label>
        <textarea id="txtarea" name="comment" rows="4" cols="40">
        </textarea>
        <input type="submit">
    </form>
</body>

</html>